@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .hero {
      display: block; }
      .hero #title {
        padding-top: 80px; }
      .hero h1 {
        margin: auto;
        font-size: 2rem; }
      .hero form {
        width: 100%; }
      .hero #form {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center; }
      .hero input {
        width: 290px;
        padding: 0;
        text-align: center; }
    .hero select {
        width: 292px;
        padding: 0;
        text-align: center; 
    }
    .hero textarea {
        width: 290px;
        padding: 0;
        height: 200px;
        text-align: center; 
    }
      .hero input:hover {
        background: #b3aca7;
        color: #4F4E4E; }
      .hero #submit {
        width: 292px;
        padding: 0; }
      .hero #submit:hover {
        color: #4F4E4E; }
      .hero .arrows {
        display: none; }
 }