@font-face {
  font-family: neris-light;
  src: url("../font/Neris-Light.otf") format("opentype");
}

@font-face {
  font-family: neris-thin;
  src: url("../font/Neris-Thin.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin: 0 40px 120px 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
}

.conteudoCabecalho {
  width: 100%;
  min-height: 100vh;
  font-family: neris-thin;
  background-image: url("../images/fundo_banner_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 95%;
  height: 100%;
  align-items: center;
  margin: auto;
}

.container .conteudoCabecalho-texto {
  position: relative;
  transform: translateY(82px);
}

.container .conteudoCabecalho-titulo h2 { 
  margin: 10px 0 30px 0;
}

.conteudoCabecalho-conteudo {
  position: absolute;
  bottom: 100%;
}

.conteudoCabecalho-conteudo p {
  font-size: 1.2rem;
}

.container .conteudoCabecalho-conteudo h2 {
  font-family: neris-light;
  font-size: 29px;
  margin-top: 25px;
}

.container h2 {
  font-family: neris-light;
  font-size: 45px;
}

.container span {
  font-family: neris-thin;
  font-weight: normal;
}

.conteudoCabecalho-logo {
  display: flex;
}

.conteudoCabecalho-conteudo {
  font-family: neris-thin;
}

.conteudoCabecalho-botao {
  padding: 0px 40px;
  width: 200px;
  line-height: 55px;
  text-align: center;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  font-family: neris-light;
  font-weight: bold;
  background-color: rgb(45, 104, 192);
  display: block;
  border: none;
  border-bottom: 5px solid rgb(73, 190, 174);
  font-family: neris-light;
  font-weight: bold;
  white-space: nowrap;
}

.hero {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  background-image: url("../images/fundo_pesquisa_1024.jpg");
  background-size: cover;
  background-position: center, center;
  border-top: 5px solid #366dbf;
  justify-content: space-around;
}

.text {
  width: 30%;
  margin-left: 240px;
}

#heroText {
  font-family: neris-thin;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 25px;
  width: 330px;
}

#heroTextSecond {
    font-family: neris-thin;
    font-size: 1.2rem;
    color: white;
    margin-top: 25px;
    width: 330px;
}

#heroTextBold {
  font-size: 1.7rem;
  font-family: neris-thin;
}

.text span {
  font-family: neris-light;
}

.hero form {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  width: 50%;
  background-color: #366dbfc7;
  text-align: center;
  margin: 60px 200px 60px 0;
  border-radius: 5px;
}

.hero h2 {
  font-family: neris-light;
  margin: 10px 0;
  color: white;
}

.hero p {
  color: white;
  font-size: 0.8rem;
  margin: 2px 0;
  width: 280px;
}

.hero input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #bbb5af;
  font-size: 0.875em;
  text-align: center;
}

.hero select {
  text-align: center;
  border-radius: 5px;
}

.hero input:hover::placeholder {
  color: #5790e6;
  font-size: 0.875em;
}

.hero input:hover:focus::placeholder {
  color: #5790e6;
}

.hero input:hover::placeholder {
  color: #5790e6;
  font-size: 0.875em;
}

.hero #form {
  width: 280px;
  margin-right: 220px;
}

#formText {
  padding: 15px 15px 10px 15px;
}

.hero input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  height: 35px;
  margin: 7px 0;
  border-radius: 5px;
  background-color: white;
  outline: none;
  color: black;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.hero input,
.hero select {
  width: 240px;
  padding: 0;
  text-align: center;
}

.hero textarea {
  width: 240px;
  height: 140px;
  text-align: center;
}

.hero select {
  text-align-last: center;
}

.hero textarea::placeholder {
  padding: 50px 0;
}

.hero #submit {
  padding: 10px 40px;
  width: 180px;
  height: 55px;
  margin: 10px;
  border-radius: 5px;
  color: #5790e6;
  font-size: 0.8rem;
  font-family: neris-light;
  font-weight: bold;
  background-color: #8bb209;
  border: none;
  border-bottom: 5px solid #4a5f04;
  color: #FFF;
}

.heroSubmit {
  display: none;
}

.hero {
  display: flex;
}

.action-button:active {
  transform: translate(0px, 5px);
  border-bottom: 2px solid;
}

.hero #ip {
  display: none;
}

.obrigado {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-image: url("../images/fundo_obrigado.jpg");
  background-size: cover;
  background-position: center, center;
}

.obrigado h2 {
  font-family: neris-light;
  font-size: 6rem;
  color: white;
  margin: 0 0 10px 0;
}

.obrigado h3 {
  font-family: neris-thin;
  font-size: 2rem;
  color: white;
  margin: 0 320px;
}

.submit {
  display: none;
}

.conteudoRodape {
  background-color: #4F4E4E;
  color: #c0bfbf;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: neris-light;
  flex-direction: column;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}