@font-face {
  font-family: neris-light;
  src: url("../font/Neris-Light.otf") format("opentype");
}

@font-face {
  font-family: neris-thin;
  src: url("../font/Neris-Thin.otf") format("opentype");
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
}

.conteudoCabecalho {
  width: 100%;
  height: 100%;
  font-family: neris-thin;
  background-image: url("../images/fundo_banner_1.jpg");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  background-repeat: no-repeat;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.conteudoCabecalho-logo {
  margin-left: 25%;
}

.conteudoCabecalho-conteudo {
  /* margin-right: 12%; */
}

.conteudoCabecalho-conteudo h2 {
  font-family: neris-light;
  font-size: 2rem;
  margin-top: 0;
  font-size: 45px;
  margin-top: 0;
}

.conteudoCabecalho-conteudo p {
  margin-right: 30%;
  margin-bottom: 0;
}

.conteudoCabecalho span {
  font-family: neris-thin;
}

.conteudoCabecalho-botao {
  padding: 10px 40px;
  width: 200px;
  height: 55px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  color: #FFF;
  font-size: 0.8rem;
  font-family: neris-light;
  font-weight: bold;
  background-color: rgb(45, 104, 192);
  ;
  border: none;
  border-bottom: 5px solid rgb(73, 190, 174);
  font-family: neris-light;
  font-weight: bold;
  white-space: nowrap;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../images/fundo_pesquisa_1024.jpg");
  background-size: cover;
  background-position: center, center;
  border-top: 5px solid #366dbf;
  justify-content: space-around;
}

.text {
  width: 30%;
  margin-left: 240px;
}

#heroText {
  font-family: neris-thin;
  font-size: 1.2rem;
  color: white;
}

#heroTextBold {
  font-size: 1.7rem;
  font-family: neris-thin;
}

.text span {
  font-family: neris-light;
}

.hero form {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  width: 50%;
  background-color: #366dbfc7;
  text-align: center;
  margin: 60px 200px 60px 0;
  border-radius: 5px;
}

.hero h2 {
  font-family: neris-light;
  margin: 10px 0;
  color: white;
}

.hero p {
  color: white;
  font-size: 0.8rem;
  margin: 2px 0;
  width: 280px;
}

.hero input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #bbb5af;
  font-size: 0.875em;
  text-align: center;
}

.hero select {
  text-align: center;
  border-radius: 5px;
}

.hero input:hover::placeholder {
  color: #5790e6;
  font-size: 0.875em;
}

.hero input:hover:focus::placeholder {
  color: #5790e6;
}

.hero input:hover::placeholder {
  color: #5790e6;
  font-size: 0.875em;
}

.hero #form {
  width: 280px;
  margin-right: 220px;
}

.hero input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  height: 35px;
  margin: 7px 0;
  border-radius: 5px;
  background-color: white;
  outline: none;
  color: black;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.hero input,
.hero select {
  width: 240px;
  padding: 0;
  text-align: center;
}

.hero textarea {
  width: 240px;
  height: 140px;
  text-align: center;
}

.hero select {
  text-align-last: center;
}

.hero textarea::placeholder {
  padding: 50px 0;
}

.hero #submit {
  padding: 10px 40px;
  width: 180px;
  height: 55px;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
  color: #5790e6;
  font-size: 0.8rem;
  font-family: neris-light;
  font-weight: bold;
  background-color: #4F4E4E;
  border: none;
  border-bottom: 5px solid black;
}

.heroSubmit {
  display: none;
  transform: 1000ms;
}

.hero {
  display: flex;
}

.action-button:active {
  transform: translate(0px, 5px);
  border-bottom: 2px solid;
}

.hero #ip {
  display: none;
}

.obrigado {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-image: url("../images/fundo_obrigado.jpg");
  background-size: cover;
  background-position: center, center;
}

.obrigado h2 {
  font-family: neris-light;
  font-size: 6rem;
  color: white;
  margin: 0 0 10px 0;
}

.obrigado h3 {
  font-family: neris-thin;
  font-size: 2rem;
  color: white;
  margin: 0 320px;
}

.submit {
  display: none;
}

.conteudoDepoimento {
  font-family: neris-thin;
  margin-bottom: 150px;
}

.conteudoDepoimento h2 {
  color: #4F4E4E;
  text-align: center;
  font-size: 45px;
}

.conteudoDepoimento p {
  color: #5790e6;
  font-weight: bold;
  width: 500px;
  margin-right: 15%;
}

.conteudoDepoimento-conteudo {
  display: flex;
  justify-content: space-around;
}

.conteudoDepoimento-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 36%;
  margin-right: 25px;
}

.conteudoRodape {
  background-color: #4F4E4E;
  color: #c0bfbf;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: neris-light;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.conteudoDepoimento-nome {
  text-align: right;
  margin-top: 0;
}

.conteudoDepoimento-texto {
  text-align: left;
}