@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .conteudoCabecalho .container {
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .conteudoCabecalho-logo img {
    max-width: 96%;
  }

  .container .conteudoCabecalho-texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: none;
  }

  .container .conteudoCabecalho-texto div {
    order: 1;
  }

  .container .conteudoCabecalho-texto .conteudoCabecalho-conteudo {
    order: 0;
  }
  .conteudoCabecalho-conteudo {
    margin: 0px 10px 0 0;
    position: static;
  }
  .conteudoCabecalho-conteudo p {
    margin: 0 10px 0 10px;
  }
  .conteudoCabecalho-botao {
    width: 90%;
    margin: 5% 0 0 5%;
  }
  .hero {
    flex-direction: column;
    max-width: 100%;
  }
  .text {
    margin: 30px 0 30px 0;
    width: 75%;
    text-align: center;
  }
  .hero #form {
    width: 92%;
    margin: 0 0 15px 0;
    max-width: 400px;
  }
  .hero select {
    width: 92%;
  }
  .hero input {
    width: 92%;
  }
  .hero p {
    width: 96%;
  }
  #heroTextBold {
    margin-top: 18px;
  }
  .hero textarea {
    width: 92%;
  }
  .hero #submit {
    width: 92%;
    margin: 10px 0 10px 0px;
  }
  .obrigado h2 {
    font-family: neris-light;
    font-size: 3rem;
    color: white;
    margin: 0 0 10px 0;
  }
  .obrigado h3 {
    font-family: neris-thin;
    font-size: 1rem;
    color: white;
    margin: 0 30px;
  }
}